body{
    color: #ccc;
    font-size: .85rem;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
    text-align: center;
    margin: 0 auto;

}

a{
    text-decoration: none;
    color: #ccc;
}

header{
    min-height: 60px;
    width: 100%;
    background-color: rgba(45, 48, 55, 1);
    display: flex;
    align-items: center;
    position: fixed;
    font-weight: bold;
    z-index: 2;
}

.logo {
    margin: 0 27px;
}

.dropdown{
    border-right: 1px solid #414450;
    border-left: 1px solid #414450;
    margin-right: 22px;
    padding: 0 25px;
}

.dropdown a{
    text-transform: uppercase;
}

.dropdown a:hover{
    color: #00c8aa;
}

.produced{
    display: flex;
    align-items: center;
}

.produced img{
    margin-right: 15px;
}

.between{
    display: flex;
    justify-content: space-between;
    width: 67%;
}

.basket{
    background-color: #00c8aa;
    height: 100%;
    padding: 15px 50px;
    display: flex;
    align-items: center;
}

.basket img{
    width: 30px;
    padding-right: 5px;
}

.basket a{
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
}

.basket:hover {
    background-color: #008d74;
}

.pure{
    background: url("../image/header_bg.jpg") no-repeat;
    background-size: 100% 100% ;
    min-height: 400px;
    padding: 60px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    color: white;


}

.pure h1{
    font-size: 4rem;
    padding-bottom: 45px;
}

.pure h2{
    font-size: 2rem;
    padding-bottom: 45px;

}

.pure p{
    font-style: italic;
    font-size: 1.25rem;
}

.experience{
    min-height: 20px;
    background-color: #2d3037;
    font-size: 1.15rem;
    font-weight: bold;
    padding: 20px 0;
}

.text{
    padding: 125px 0;
    align-items: center;
}

.text p{
    color: #666;
    margin-top: 25px;
}

.text h1{
    color: #999;
    text-transform: uppercase;
    font-size: 2rem;
}

.cards-desk{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    padding: 0 20px 60px;
    box-sizing: border-box;
    width: 40%;
}

.card a{
    color: #333;
    text-transform: uppercase;
    font-size: 1rem;
}

.card img{
    margin-bottom: 25px;
    width: 100%;

}

.card img:hover{
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.8;
}

footer{
    background-color: #2d3037;
    padding: 60px 0;
    color: #777777;
    letter-spacing: 2px;
    font-size: .75rem;
    margin-top: 100px;
}

.footer-text{
    display: flex;
    justify-content: center;
    padding-top: 15px;

}

.footer-text a{
    color: white;
    margin: 0 5px;
}

.footer-text a:hover{
    color: #00c8aa;
}

@media (max-width: 900px){
    .produced{
        display: none;
    }

    .logo, .dropdown, .between{
        width: 33%;
    }

    .basket{
        width: 100%;
    }

}

@media (max-width: 768px) {
    .card{
        width: 45%;
    }

    .pure{
        display: none;
    }

    .basket a{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .text{
        padding: 50px 0;
    }
}

@media (max-width: 700px) {
    .between{
        width: 100%;
    }

    .basket{
        height: 100%;
    }

    .text{
        padding-top: 100px;
    }

    .text h1{
        font-size: 1.5rem;

    }

    .logo, .dropdown, .experience{
        display: none;
    }
    .card{
        width: 100%;
    }

    footer{
        margin-top: 0;
    }
}



